$baseFontSize: 16px !default;

$theme-color: #666 #999 #DDD #EEE;
$white-color: #FFF;
$black-color: #333;
$grep-color:#AAA;

$theme-light-color:   #337ab7;
$theme-selected-color: #a3234a;

$show-btn-color:#666 #999 #888;
$add-btn-color:#039702 #33C742 #23b732;
$delete-btn-color:#ac2925 #bc4945 #9c1915;
$modify-btn-color:#0b97c4 #2bb7e4 #0187b4;
$close-btn-color:#666 #911 #933;


$operator-btn-active-color:#444400;

$line-color:#dee;

$frame-main-color:#546E7A;
$frame-nav-sub-color: #446E6A;
$top-bg-color:#263237;

//$top-bg-color:#888833;
//$frame-main-color:#888;




